node_modules/
**/node_modules/
dist/
**/dist/
coverage/
**/coverage/
.env
.env.*
.dev.vars
.dev.vars.*
.wrangler/
**/.wrangler/
.vite-hooks/
**/.vite-hooks/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
